* {
  box-sizing: border-box;
}

body {
  background-color: black;
  margin-left: 100px;
}

h2 {
  color: white;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 30px;
}
.header {
  width: 100%;
}
.header img {
  width: 100px;
  height: 100px;
}

.image {
  display: flex;
  margin-bottom: 30px;
  overflow-x: scroll;
}

.image img {
  width: 220px;
  height: 120px;
}

.image::-webkit-scrollbar {
  display: none;
}
